body{
  font:15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: #D7CEC7;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#DF744A;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  padding-left: 50px;
  background:#565656;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;

}

/*Header */
header{
  background-color:#565656;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#C09F80 5px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#C09F80;
  font-weight:bold;
}

header a:hover{
  color:#373737;
  font-weight:bold;
}

/*Showcase */
#showcase{

  min-height:500px;
  background-size: cover;
  background-image:url('../img/showcase2.jpg');
  filter: alpha(opacity=10);
  background-repeat:no-repeat;
  background-position:center;

  text-align:center;
  color:#ffffff;
}

#showcase h1{
  font-size: 55px;
  margin-bottom:55px;
  margin-top:100px;
}

#showcase p{
  font-size:20px;
  line-height: auto;
}

/*Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background-color:#565656;
}

#newsletter h1{
  float:left;
}

#newsletter form{
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/*boxes*/
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align:center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:200px;
}

/*main*/
#main-col{
  float:left;
  width:65%;
}



#main-col .contact-info {
  padding-top:10px;
  padding-bottom:20px;
}

/*sidebar*/
#sidebar{
  float: right;
  width:30%;
  margin-top:10px;
  align-items: center;
}



/*upcoming*/
#classes li{
  list-style:none;
  padding:20px;
  border:#cccccc solid 2px;
  margin-bottom:5px;
  background: #e6e6e6;

}
/*foooter */
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#C09F80;
  text-align:center;
}

/*Media Queries*/
@media(max-width:760px) {
  header #branding,
  header nav,
  header nav li
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  #main-col,
  #sidebar{
    float: none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button{
    display: block;
    width:100%;
    margin-top: 5px;
  }

  #newsletter form input[type="email"]{
    width:100%
  }
